ref
build
models
gpt
PPTs
docs
.cache
kernel.elf
compiler_commands.json
fs.img
__pycache__/
*.pyc
premodels
origin-models
tools/export_qwen.py
tools/export_smollm.py
tools/__pycache__

# Markdown PDF temp file
*_tmp.html
